.app-container {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 32px;
}

.content-container {
  flex: 1;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-summary-box {
  background-color: white;
  margin: 5px;
  padding: 5px;
}