.app-container {
  background-color: pink;
}

.chat-list-container {
  background-color: lightgreen;
}

.chat-container {
  background-color: lightgrey;
}

.comment-container {
  background-color: white;
  margin: 5px;
  padding: 5px;
}