.app-container {
  background-color: pink;
}

.chat-list-container {
  background-color: lightgreen;
}

.chat-container {
  background-color: lightgrey;
}

.comment-container {
  background-color: white;
  margin: 10px 5px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
}

.connector-line {
  width: 2px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: -20px;
}

.comment-row {
  display: flex;
}